<document>
    <Panel name="panel" alignment="center" y="0.07" width="-1" height="0.85" image="windows/window_square.png">
        <Label name="windowName" text="Settings" alignment="center" y = "0.04" width="0.5" height="0.06" />

        <Label name="graphicsLabel" text="Graphics:" x="0.02" y="0.2" width="0.38" height="0.08"/>
        <DropDown name="graphics" text="Medium" font-size="55" x="0.42" y="0.195" width="-5.34065" height="0.1">
            <Button name="graphicsHigh" text="High" font-size="45"/>
            <Button name="graphicsMed" text="Medium" font-size="45"/>
            <Button name="graphicsLow" text="Low" font-size="45"/>
        </DropDown>
        <Button name="advancedGraphics" text="Advanced" alignment="center" y="0.3" width="-3.873" height="0.12" />

        <Label name="soundLabel" text="Sound:" x="0.02" y="0.45" width="0.38" height="0.08"/>
        <Slider name="soundSlider" x="0.42" y="0.47" width="0.54" height="-0.092" />

        <Label name="musicLabel" text="Music:" x="0.02" y="0.54" width="0.38" height="0.08"/>
        <Slider name="musicSlider" x="0.42" y="0.56" width="0.54" height="-0.092" />

        <Label name="gamepadLabel" text="On-screen arrows:" x="0.07" y="0.63" width="0.1" height="0.08" textAlignment="Left"/>
        <Image name="gamepadCheckbox" x="0.7" y="0.635" width="-1" height="0.08" image="buttons/checkbox_unchecked.png"/>

        <Label name="restartInfo" text="Need to restart the game" x="0.02" y="0.71" width="0.96" height="0.08" font-color="0.9 0.1 0.1 0.8"/>
        <Button name="restart" text="Restart" alignment="center" y="0.78" width="-3.873" height="0.11" />
    </Panel>
    <Button name="back"  x="0.40" y="0.82" width="0.08" height="-1" image="buttons/back.png" hoverimage="buttons/back_hover.png" pressedimage="buttons/back_pressed.png" />
</document>